<!DOCTYPE html>   
<html>
<title>UTES Demo</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--link rel="stylesheet" href="/css/pha_styles001.css"  type="text/css"-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.js"
	integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
	crossorigin="anonymous">
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script  src="/paper-full.js"></script>
<!-- link rel="stylesheet"  src="./assets/css/style.css" -->

<!--script type="text/javascript" src="javascripts/script.js"></script -->
<style>

canvas {
	background: black;
	width: 100%;
	height: 10%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

body, html {
	height: 100%;
	line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
	background-position: center;
	background-size: cover;
	background-color: black;
	/* background-image: url("raksha_header.jpg"); */
	min-height: 100%;
}

.w3-bar .w3-button {
	padding: 16px;
}

.comment-text-area {
	float: left;
	width: 100%;
	height: auto;
}

.textinput {
	float: left;
	width: 100%;
	min-height: 75px;
	outline: none;
	resize: none;
	border: 1px solid grey;
}
</style>

<script type="text/paperscript" canvas="myCanvas">
	var stars = [];
	var velocity = 2;
	
	function randomInt(min, max) {
		return Math.floor(Math.random()*(max-min+1)+min);
	}
	
	for (var i = 0; i <= 800; i++) {
		var circle = new Path.Circle(new Point(view.size.width, view.size.height) * Point.random(), randomInt(0.5, 2)); // last arg is radius
		stars.push(circle);
		circle.fillColor = "white";
	}
	
	for (var i = 0; i<= 800; i++) {
		var chance = Math.random();
		
		if (chance < 0.7) {
			stars[i].fillColor = "white";
		}
		if (chance < 0.29) {
			stars[i].fillColor = "yellow";
		}

		if (chance < 0.02) {
			stars[i].fillColor = "blue";
		}

	}
	
	function assignRate() {			
		for (var i = 0; i < stars.length; i++ )  {
			var assignedRate = Math.random() * velocity;
			stars[i].rate = assignedRate; 
		}
	}
	assignRate();
	
	function onKeyDown(event) {
		if (event.key == 'd') {
			velocity += 1;
			assignRate();
		}
		if (event.key == 'a') {
			velocity -= 1;
			assignRate();
		}
	}

	
	function onFrame(event) {
		for( var i = 0; i < stars.length; i++) {
			stars[i].translate(stars[i].rate, 0);
			
			if (stars[i].position.x > view.size.width) {
				stars[i].position.x = 0;
			} else if (stars[i].position.x < 0) {
				stars[i].position.x = view.size.width;
			}
		}
	}
</script>

	<!--img src="favicon.ico" class="w3-image w3-greyscale" style="width: 100%; margin-top: 48px" -->
	<!--img src="/images/favicon004.jpg" class="w3-image w3-greyscale" style="width: 50%; margin-top: 48px"-->
</head>
<body>
	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div >
			<canvas id="myCanvas" width=100% height="3" style="border:1px solid; margin-bottom: 0;"></canvas>
		</div>
		<div class="w3-bar w3-white w3-card" id="myNavbar" style=" margin-top: 0">
			<a href="#home" class="w3-bar-item w3-button w3-wide">raksha.io
				[Rakṣā (रक्षा). - Protection, preservation; guarding;]</a>
			<!-- Right-sided navbar links -->
			<div class="w3-right w3-hide-small">
				<a href="#about" class="w3-bar-item w3-button"><i class="fa fa-user"></i>About</a>
				 <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-users"></i> FAQ</a> 
				 <a	href="#product" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Products</a>
				<!-- <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Pricing</a> -->
				<a href="#contact" class="w3-bar-item w3-button"><i 	class="fa fa-envelope"></i> Contact</a> 
				<a href="#demo" class="w3-bar-item w3-button"><i class="fa fa-gears"></i>Demo</a>
			</div>
			<!-- Hide right-floated links on small screens and replace them with a menu icon -->

			<a href="javascript:void(0)"
				class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
				onclick="w3_open()"> <i class="fa fa-bars"></i>
			</a>
		</div>
	</div>

	<!-- Sidebar on small screens when clicking the menu icon -->
	<nav
		class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
		style="display: none" id="mySidebar">
		<a href="javascript:void(0)" onclick="w3_close()"
			class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a> <a
			href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
		<a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
		<a href="#product" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
		<!-- <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a> -->
		<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
	</nav>



	<!-- About Section -->
	<div class="w3-container" style="padding: 128px 16px" id="about">
		<div class="w3-row-padding w3-center" style="margin-top: 64px">
			<h3 class="w3-center">About raksha.io</h3>
			<!-- <p class="w3-center w3-large">Key features of our company</p> -->
			<div class="w3-row-padding w3-center" style="margin-top: 64px">
				<div class="w3-quarter">
					<i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
					<p class="w3-large">Agile</p>
					<p>We at raksha.io believe in being lean and agile.</p>
					<p>No fluff, Pure Function!</p>
				</div>
				<div class="w3-quarter">
					<i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
					<p class="w3-large">Passionate</p>
					<p>William (Bill) Clinton recently said, "If you want to lead
						something, start by saying, This is what I care about...". We
						interpret that as being passionate about what you do. raksha.io
						came about and continues to exist because we care about what we
						are doing.</p>
				</div>
				<div class="w3-quarter">
					<i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
					<p class="w3-large">Dependable</p>
					<p>In the modern world, any marketing or sales person will
						hesitate to use Dependable in their material. However, that is
						exactly how we want to be seen. You can depend on us.</p>
				</div>

				<div class="w3-quarter">
					<i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
					<p class="w3-large">Full Functionality Free Tier</p>
					<p>Our cornerstone products can always be downloaded, hosted
						and productively deployed by you and we wont ask for a single
						penny.</p>
				</div>
			</div>
		</div>
		<!-- Product Section -->
		<div class="w3-container" style="padding: 128px 16px" id="product">
			<div class="w3-row-padding w3-center" style="margin-top: 64px">
				<h3 class="w3-center">About raksha.io</h3>
				<!-- <p class="w3-center w3-large">Key features of our company</p> -->
				<div class="w3-row-padding w3-center" style="margin-top: 64px">
					<div class="w3-quarter">
						<i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
						<p class="w3-large">List of a few in our product line:</p>
						<p>
							We develope application such as SOAP and REST services for
							enterprise partners document exchanges:<br> Such as ePeppol
							transactions, Secure Envelope transactions<br> Enterprise
							PKI X509 RSA TEST certificate generation<br> Enterprise PKI
							X509 ECDSA TEST certificate generation<br>
							<br> Enterprise JWKS repositories<br> Enterprise JWT,
							JWE token generation services<br> Enterprise securiy
							authentication protocol conversions services:<br> X509 -
							SAML, SAML - X509, SAML - OAUTH, OAUTH - SAML, OAUTH - X509, X509
							- OAUTH
						</p>
					</div>
					<div class="w3-quarter">
						<i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
						<p class="w3-large">Raksh.io REST Service as Protocols Exchange Hub:</p>
						<p> Internet Security Protocols Exchange Hub:
							The Protocol Exchange Hub provides a dynamic REST service that delivers
							transformed protocol on demand as described here:
							Internet security has achieved great importance, as its vast and encompasses 
							various aspects associated with internet security:<br> Various security 
							mechanisms exist for specialized internet services like email, electronic 
							commerce, and payment, wireless internet, etc.<br> To provide the security 
							to this internet various protocols have been used like SSL 
							(Secure Socket Layer), TLS ( Transport Layer Security), etc<br> 
							Protocols are divided in the following catagories:<br>
							SSL Protocol<br> 
							TLS Protocol<br>
							SHTTP<br>
							SET Protocol<br>
							PEM Protocol<br>
							PGP Protocol<br>
							IPSec and VPNs<br>
							SSL and TLS<br>
							Application Transparent Transport Layer Security<br>
							Kerberos<br>
							OSPF authentication<br>
							SNMPv3<br>
							All the above network and web security protocols need <br>
							mechanisms that would implement cyber threat protection <br>
							against the Enterprise web application attacks.<br>
							cryptographic protocol or encryption protocol is an <br>
							abstract or concrete protocol that performs a security-related <br>
							function and applies cryptographic methods, often as sequences <br>
							of cryptographic primitives<br>
							Cryptographic protocols are widely used for secure application-level <br>
							data transport. A cryptographic protocol usually incorporates at <br>
							least some of these aspects:<br> 
							Key agreement or establishment<br>
							Entity authentication<br>
							Symmetric encryption and message authentication material construction<br>
							Secured application-level data transport<br>
							Non-repudiation methods<br>
							Secret sharing methods<br>
							Secure multi-party computation<br> 
							<br>
							raksha.io implements the cryptographic mechanisms required in form of :
							PKI, OAUTH, SAML2, ECDSA low level protocols. raksha.io runs a demo version of
							ProtocolExchange REST service Hub. This service can be accessed by any 
							without any login at this url pattern:
							https://utes-dev.phadnis.no/getProtocolTrans?convrt=saml-oauth
							The url parameter convrt tells the service which type of protocol
							transformation is to be performed. Valid parameters are:
							saml-oauth, saml-x509, oauth-saml, oauth-x509, x509-saml and x509-oauth.
							Typical client interfaces are cURL and Postman.
							Example of Postman :
							configure a https - POST method with the url. Set Accept 
							header to application/json. Paste client cert or token in the
							body of the request. 
							Example of cURL :
							curl -s -o response.txt -w "%{http_code}" -F file=@saml2jwt_test.jwt --header 'Accept: application/json'  -X POST -k https://localhost:20443/getProtocolTrans?convrt=oauth-saml
						</p>
					</div>
					<div class="w3-quarter">
						<i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
						<p class="w3-large">ECDSA For SSL / TLS Certificates & much 
							more …</p>
						<p>							
							ECDSA stands for Elliptic Curve Digital Signature Algorithm. This 
							algorithm deals with elliptical curve and the mathematics 
							behind it to provide the cryptography.
							ECDSA works by selecting a number from an elliptical curve and 
							then multiplying this by another number which results in a new 
							point on the curve that makes it incredibly difficult to crack the 
							new point or in crypto terms the new private key. This makes 
							ECDSA a lot more complex than the RSA (Rivest Shamir 
							Aldeman) algorithm that is used in most SSL certificates on the 
							Internet. At Raksha.io we have IDPs issuing both the types of 
							SSL /TLS 2 certificates, depending on the client side PKI 
							environments. ECDSA keys being short, gives distinct advantage 
							in terms of scalability and performance. ECDSA is referred to 
							Elliptic curve Cryptography- ECC.</p>
					</div>
				</div>
			</div>
		</div>
		
			<div class="w3-container" style="padding: 28px 16px" id="demo">			
			<div class="w3-row-padding w3-center" style="margin-top: 24px">
				<!-- Header with full-height image -->
				<header class="bgimg-1 w3-display-container w3-grayscale-min" id="sdemo">
					<div class="w3-display-left w3-text-darkblue" style="padding: 18px">
						<span class="w3-large w3-hide-small">Simplicity Matters</span><br>
						<span class="w3-large">Our demos allow you
							to see eaxactly what you can achieve with UTES... In 4 clicks
							(well.. maybe 5)</span>
						<p>
							<a href="#demo"
								class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Get
								Started</a>
						</p>
					</div>
				</header>
			</div>
		</div>
			<!-- Register or Create a demo user Section -->
			<div class="w3-container" style="padding: 128px 16px" id="demo">
				<h3 class="w3-center">The Demo</h3>
				<!--  <p class="w3-center w3-large">In this demo, we need a user. Don't worry, we do not want your details. At least not the real details. However, we do need a user. You can choose to either provide some dummy details or let us create a user for you.</p>-->
				<div class="w3-row-padding w3-center" style="margin-top: 64px">
					<div class="w3-quarter">
						<i class="fa fa-user w3-margin-bottom w3-jumbo w3-center"></i> <i
							class="fa-solid fa-0"></i>
						<p class="w3-large">Register or Create a User</p>
						<div class="jw-document-wrapper" style="margin-left: 0px; width: 300px;">
							<iframe src="/getDoc1#zoom=70%&navbar=1&toolbar=1" style="width: 110%; height: 60vh"></iframe>
						</div>
					</div>
					<div class="w3-quarter">
						<i class="fa fa-cogs w3-margin-bottom w3-jumbo"></i>
						<p class="w3-large">See UTES in Action</p>
						<div class="jw-document-wrapper" style="margin-left: 0px; width: 300px;">
							<iframe src="/getDoc2#zoom=70%&navbar=1&toolbar=1" style="width: 110%; height: 60vh"></iframe>
						</div>
					</div>
					<div class="w3-quarter">
						<i class="fa fa-leanpub w3-margin-bottom w3-jumbo"></i>
						<p class="w3-large">Understand what it did</p>
						<div class="jw-document-wrapper" style="margin-left: 0px; width: 300px;">
							<iframe src="/getDoc3#zoom=70%&navbar=1&toolbar=1" style="width: 110%; height: 60vh"></iframe>
						</div>
					</div>
					<div class="w3-quarter">
						<i class="fa fa-info w3-margin-bottom w3-jumbo"></i>
						<p class="w3-large">Currently Supported Exchanges</p>
						<div class="jw-document-wrapper" style="margin-left: 0px; width: 300px;">
							<iframe src="/getDoc4#zoom=70%&navbar=1&toolbar=1" style="width: 110%; height: 60vh"></iframe>
						</div>					
					</div>
				</div>
				<div class="w3-row w3-border">
					<div class="w3-container w3-half">
						<form class="w3-container" action="/demo_user" method="post"
							enctype="application/x-www-form-urlencoded">
							<h2>Create a Demo User</h2>
							<input class="w3-input" type="text" id="demoname" name="demoname"
								placeholder="Name"><br> <input class="w3-input"
								type="text" id="demomail" name="demomail" placeholder="Email"><br>
							<input class="w3-input" type="text" id="uid" name="uid"
								placeholder="Unique ID"><br> <input type="hidden"
								id="democre" name="democre" value="" />
							<button class="w3-button w3-black"
								onclick="setActiveUserSource('cre', '');">Register</button>
						</form>
					</div>
					<div class="w3-container w3-half">
						<form class="w3-container" action="/utesdemo" method="post"
							enctype="multipart/form-data">
							<h2>Generate Random User</h2>
							<p>Creates a random user for demo purposes.</p>
							<ul>
								<h2>Generated Random User:</h2>
								<% if (randusr && randusr !== '') { %> <% var data =
								JSON.parse(randusr); %>
								<li>Full Name: <%= data.fullname %></li>
								<li>e-mail : <%= data.emailAddress %></li>
								<li>Unique ID: <%= data.nameIdentifier %></li>
								<li>Password :<%= data.nameIdentifier %></li>
							</ul>
							<input type="hidden" id="demorand" name="demorand"
								value="<%= data.nameIdentifier %>" />

							<!-- <textarea id="rand" name="rand"  cols="50" rows="10" style="margin: 0px; width: 522px; height: 111px;"> <%= JSON.stringify(randusr) %></textarea><br> -->

							<button class="w3-button w3-black"
								onclick="setActiveUserSource('rand', '<%= data.nameIdentifier %>');">Create
								Random User</button>
							<% } %>
						</form>
						<script>            	
				   function setActiveUserSource(src, id) {
					   alert("Data:  " + document.getElementById('demorand').value);
					   if(src === 'rand') {
						//  alert("Rand:   " + document.getElementById('demorand').value);
						   document.getElementById('demorand').value = id;
						   document.getElementById('democre').value='';
						// alert("setActiveUserSource-rand:  " + id);
						   return id;
					   } else if (src === 'cre') {
						   var ud = document.getElementById('uid').value;
							alert("cre-uid:  " + ud  );
						   document.getElementById('demorand').value = '';
						   document.getElementById('democre').value= ud;
						   id = document.getElementById('democre').value;
						// alert("setActiveUserSource-cre:  " + id);
						   return id;
					   }
				   }
			</script>
					</div>
				</div>
				<script type="text/javascript">
			   
		   function getActiveUserSource() {
			// alert("getActiveUserSource");
			   var ran = document.getElementById('demorand').value;
			// alert("getActiveUserSource1:   "  + ran);
			   if (ran) { 
				   return ran;
			   } else {
				   var cre = document.getElementById('democre').value;
				// alert("getActiveUserSource2:   "  + cre);
				   if (cre) return cre;
				   
			   }
		   }

		 </script>
				<div class="w3-row w3-border w3-padding-64">
					<h2>
						Token Exchange For User: <label id="usr" name="usr"></label>
					</h2>
					<script type="text/javascript"> var usr = getActiveUserSource();
        		document.getElementById("usr").innerText = usr;
        	</script>

					<div class="w3-container w3-half">

						<p>Run various token exchange scenarios</p>
						<button id="but1" class="w3-button w3-black"
							onclick="setConvertModeAjax('OAuth-SAML', 'but1' ,event);">OAuth
							--> SAML</button>
						<button id="but2" class="w3-button w3-black"
							onclick="setConvertModeAjax('SAML-OAuth', 'but2' , event);">SAML
							--> OAuth</button>
						<button id="but3" class="w3-button w3-black"
							onclick="setConvertModeAjax('OAuth-X509',  'but3' ,event);">OAuth
							--> X509</button>
						<button id="but4" class="w3-button w3-black"
							onclick="setConvertModeAjax('X509-OAuth',  'but4' ,event);">X509
							--> OAuth</button>
						<button id="but5" class="w3-button w3-black"
							onclick="setConvertModeAjax('X509-SAML',  'but5' ,event);">X509
							--> SAML</button>
						<button id="but6" class="w3-button w3-black"
							onclick="setConvertModeAjax('SAML-X509',  'but6' ,event);">SAML
							--> X509</button>
						<a class="w3-button w3-black w3-right-align" href="#">Clear
							Forms.</a>

					</div>
				</div>

				<div class="w3-row w3-border w3-padding-64">
					<h2>Results</h2>

					<div class="w3-card-4 w3-half w3-row-padding" style="width: 100%;">
						<form id="output" action="/convrt_demo" method="POST">
							<header class="w3-container w3-blue">
								<h3>
									From: <label id='oprf' name='oprf'></label>
								</h3>
							</header>
							<div class="w3-container" id="fromdemo">
								<textarea class="textinput" id="srctxt" name="srctxt"><%= user.srctxt %></textarea>
							</div>
							<footer class="w3-container w3-blue">
								<h5>Footer</h5>
							</footer>
							<!-- div class="w3-card-4 w3-half w3-row-padding" style="width: 50%;">  -->
							<header class="w3-container w3-green">
								<h3>
									To: <label id='oprt' name='oprt'></label>
								</h3>
							</header>
							<div class="w3-container" id="todemo">
								<textarea class="textinput" id="destxt" name="destxt"><%= user.destxt %></textarea>
							</div>
							<footer class="w3-container w3-green">
								<h5>Footer</h5>
							</footer>
							<!--  /div> -->
							<script type="text/javascript">
						var once = 0;
						var butClic = "";
						var butPrev = "";
						function setOnce( ) {
							if(once > 5)
								once = 0;
						}
						function setConvertModeAjax( mode , but, e) {
							if (typeof usr !== 'undefined' && usr !== '' && usr !== null) {
								alert(but);
								document.getElementById("srctxt").value = '';
								document.getElementById("destxt").value = '';
								//
								if (mode === 'OAuth-SAML' ) {
									butClic = but;								
									document.getElementById("oprf").innerText = 'OAuth';
									document.getElementById("oprt").innerText = 'SAML';
									once++;
								}
								if (mode === 'SAML-OAuth' ) {
									butClic = but;
									document.getElementById("oprt").innerText = 'OAuth';
									document.getElementById("oprf").innerText = 'SAML';
									once++;
								}
								if (mode === 'OAuth-X509' ) {
									butClic = but;
									document.getElementById("oprf").innerText = 'OAuth';
									document.getElementById("oprt").innerText = 'X509';
									once++;
								}
								if (mode === 'X509-OAuth' ) {
									butClic = but;
									document.getElementById("oprt").innerText = 'OAuth';
									document.getElementById("oprf").innerText = 'X509';
									once++;
								}
								if (mode === 'X509-SAML' ) {
									butClic = but;
									document.getElementById("oprt").innerText = 'SAML';
									document.getElementById("oprf").innerText = 'X509';
									once++;
								}
								if (mode === 'SAML-X509' ) {
									butClic = but;
									document.getElementById("oprt").innerText = 'X509';
									document.getElementById("oprf").innerText = 'SAML';
									once++;
								}
								var uid = document.getElementById("usr").innerText;
								// alert("uid:  " + uid);
								var upass = uid;
								var udata = {"uid": uid, "ope": mode, "upass": upass};
								alert("data:  " + JSON.stringify(udata));						      
								$.ajax({
									type: 'POST',
									url: '/convrt_demo',
									data: { udata: JSON.stringify(udata) },
									success: function(data) {
										//console.log('message', data.message);
										
										alert("message:  " + data.message + 'but: ' + but + "   once: " + once);
										if ((once <= 3 && but !== butPrev ) && (data.message === undefined || data.message === 'undefined' || data.message === "" || data.message == null)) {
											//once = 4;
											alert('undefined message');
											butPrev = but;		
											document.getElementById(but).click();														
										} else if (once <= 2 && but === butPrev && (data.message === undefined || data.message === 'undefined' || data.message === "" || data.message == null)) {
											butPrev = but;		
											document.getElementById(but).click();
											if (once > 4)
												once = 6;
										}
										document.getElementById("srctxt").value = JSON.stringify(data.user.srctxt);
										document.getElementById("destxt").value = JSON.stringify(data.user.destxt);	
										setOnce();				        	
									},
									error: function(jqXHR, textStatus, err) {
										alert('text status '+textStatus+', err '+err)
									}
								});
							} else {
								alert("No user is selected or logged in !!");
							}							
						}						
					</script>
						</form>
					</div>
				</div>
				<div class="w3-card-4 w3-half w3-row-padding" style="width: 100%;">
					<h2>
						SAML Assert For User: <label id="usr1" name="usr1"></label>
					</h2>
					<script type="text/javascript"> var usr = getActiveUserSource();
				// alert("SAML Assert:   " + usr);
	        		document.getElementById("usr1").innerText = usr;
	        	</script>
				<form id="samlAssrt" action="/getDemoUserSAMLAssert" method="POST" >
					<div class="w3-container">
						SAML Token		: <textarea class="textinput" id="samlassrt" name="samlassrt" ><%= user.samlassrt %></textarea>
					</div>
					<div class="w3-container">
						<p>Run Create SAML Assert scenario</p>
						<button id="but8" class="w3-button w3-black" onclick="setSAMLAssertUserAjax('SAMLAssert', 'but8' ,event);">SAMLAssert</button>
			    	</div>	
					
        			<script type="text/javascript">
        				function setSAMLAssertUserAjax(ope, but , event) {
							if (typeof usr !== 'undefined' && usr !== '' && usr !== null) {
								event.preventDefault();
								// alert("setSAMLAssertUserAjax: ");
								var uid = document.getElementById("usr").innerText;
								// alert("setSAMLAssertUserAjax: " + uid);
								document.getElementById("demoname").value = uid;
								document.getElementById("uid").value = uid;
								// alert("uid:  " + uid);
								var upass = uid;
								var udata = {"uid": uid, "ope": 'SAMLAssert', "upass": uid};
								// alert("data:  " + JSON.stringify(udata));						      
								$.ajax({
									type: 'POST',
									url: '/getDemoUserSAMLAssert',
									data: { udata: JSON.stringify(udata) },
									success: function(data) {
										console.log('message', data.message);
										alert("message:  " + data.message);
										if (once <= 2 && (data.message === undefined || data.message === 'undefined' || data.message === "" || data.message == null)) {
											document.getElementById("but8").click();
											once++;
										}
										document.getElementById("samlassrt").value = JSON.stringify(data.user.samlassrt);
									},
									error: function(jqXHR, textStatus, err) {
										alert('text status '+textStatus+', err '+err)
									} 
									//after github is linked
								});
							} else {
								alert("No user is selected or logged in !!")
							}
	    				}        			
        			</script>
 				</form>
				</div>
				<div class="w3-card-4 w3-half w3-row-padding" style="width: 100%;">
					<h2>
						JWKSets End-Point For User: <label id="usr3" name="usr3"></label>
					</h2>
					<script type="text/javascript"> var usr = getActiveUserSource();
				// alert("JWKSets:   " + usr);
	        		document.getElementById("usr3").innerText = usr;
	        	</script>
					<form id="jwks" action="/getDemoUserJWKSets" method="POST">
						<div class="w3-container">
							JWKX5CSets :
							<textarea class="textinput" id="jwkx5csets" name="jwkx5csets"><%= user.jwkx5csets %></textarea>
						</div>
						<div class="w3-container">
							JWKStdSets :
							<textarea class="textinput" id="jwkstdsets" name="jwkstdsets"><%= user.jwkstdsets %></textarea>
						</div>
						<div class="w3-container">
							<p>Run Create JWKSets scenario</p>
							<button id="but9" class="w3-button w3-black"
								onclick="setUserJWKSetsAjax('JWKSets', 'but7' ,event);">JWKSets</button>
						</div>
						<script type="text/javascript">
        				function setUserJWKSetsAjax(ope, but , event) {
							if (typeof usr !== 'undefined' && usr !== '' && usr !== null) {
								event.preventDefault();
								// alert("setUserJWKSetsAjax: ");
								var uid = document.getElementById("usr").innerText;
								// alert("setUserJWKSetsAjax: " + uid);
								document.getElementById("demoname").value = uid;
								document.getElementById("uid").value = uid;
								// alert("uid:  " + uid);
								var upass = uid;
								var udata = {"uid": uid, "ope": 'JWKSets', "upass": uid};
								// alert("data:  " + JSON.stringify(udata));						      
								$.ajax({
									type: 'POST',
									url: '/getDemoUserJWKSets',
									data: { udata: JSON.stringify(udata) },
									success: function(data) {
										//console.log('message', data.message);
										alert("message:  " + data.message);
										if (data.message === 'undefined') {
											document.getElementById("but9").click();
										}
										document.getElementById("jwkx5csets").value = JSON.stringify(data.user.jwkx5csets);
										document.getElementById("jwkstdsets").value = JSON.stringify(data.user.jwkstdsets);
									},
									error: function(jqXHR, textStatus, err) {
										alert('text status '+textStatus+', err '+err);
									}
								});
							} else {
								alert("No user is selected or logged in !!")
							}
	    				}
        			
        			</script>
					</form>
				</div>
				<div class="w3-card-4 w3-half w3-row-padding" style="width: 100%;">
					<h2>
						JWTokens End-Point For User: <label id="usr4" name="usr4"></label>
					</h2>
					<script type="text/javascript"> var usr = getActiveUserSource();
				// alert("JWToken:   " + usr);
	        		document.getElementById("usr4").innerText = usr;
	        	</script>
					<form id="jwt" action="/getDemoUserJWT" method="POST">
						<div class="w3-container">
							JWTX5Token :
							<textarea class="textinput" id="jwx5token" name="jwx5token"><%= user.x5jwtok %></textarea>
						</div>
						<div class="w3-container">
							JWEncryptedToken:
							<textarea class="textinput" id="jwtoken" name="jwtoken"><%= user.jwtok %></textarea>
						</div>
						<div class="w3-container">
							<p>Run Create JWKToken scenario</p>
							<button id="but10" class="w3-button w3-black"
								onclick="setUserJWTokenAjax('JWKSets', 'but7' ,event);">JWTokens</button>
						</div>
						<script type="text/javascript">
        				function setUserJWTokenAjax(ope, but , event) {
							if (typeof usr !== 'undefined' && usr !== '' && usr !== null) {
								event.preventDefault();
								// alert("setUserJWTokenAjax: ");
								var uid = document.getElementById("usr").innerText;
								// alert("setUserJWTokenAjax: " + uid);
								document.getElementById("demoname").value = uid;
								document.getElementById("uid").value = uid;
								// alert("uid:  " + uid);
								var upass = uid;
								var udata = {"uid": uid, "ope": 'JWToken', "upass": uid};
								// alert("data:  " + JSON.stringify(udata));						      
								$.ajax({
									type: 'POST',
									url: '/getDemoUserJWT',
									data: { udata: JSON.stringify(udata) },
									success: function(data) {
										//console.log('message', data.message);
										alert("message:  " + data.message);
										if (data.message === 'undefined' || data.message === "" || data.message === null) {
											document.getElementById("but10").click();
										}
										document.getElementById("jwx5token").value = JSON.stringify(data.user.x5jwtok);
										document.getElementById("jwtoken").value = JSON.stringify(data.user.jwtok);
									},
									error: function(jqXHR, textStatus, err) {
										alert('text status '+textStatus+', err '+err)
									}
								});
							} else {
								alert("No user is selected or logged in !!");
							}
	    				}        			
        			</script>
					</form>
				</div>

				<div class="w3-card-4 w3-half w3-row-padding" style="width: 100%;">
					<h2>
						ECDSA Certificates and Keys For User: <label id="usr14" name="usr14"></label>
					</h2>
					<script type="text/javascript"> var usr = getActiveUserSource();
						alert("ECDSA :   " + usr);
							document.getElementById("usr14").innerText = usr;
					</script>

					<form id="ecdsa" action="/getEcDsaKeysCerts" method="POST">

						<br> ECDSA Certificates and Keys Generation:</br> 
						<div class="w3-container">
							<select id = "curvType" onchange = "getEcdsaKeysAndCertsAjax()" > 
								<option> prime256v1 </option>  
								<option> secp256k1 </option>  
							</select>
						</div>
						<div class="w3-container">
							<select id = "keyType" onchange = "getEcdsaKeysAndCertsAjax()" > 
								<option> Private </option>  
								<option> Public </option>  
							</select>
						</div>
						<div class="w3-container">
							ECDSA Certificate:
							<textarea class="textinput" id="eccert" name="eccert"><%- user.srctxt %></textarea>
						</div>

						<div class="w3-container">
							<p>Run Create ECDSA Certificates and Keys scenario</p>
							<button id="but14" class="w3-button w3-black"
								onclick="getEcdsaKeysAndCertsAjax('ECDSA', 'but14' ,event);">ECDSA</button>
						</div>
						<script type="text/javascript">
							var usr = getActiveUserSource();
					if (typeof usr !== 'undefined' && usr !== '' && usr !== null) {
        				function getEcdsaKeysAndCertsAjax(ope, but , event) {
								alert("getEcdsaKeysAndCertsAjax ---- callled ....!!");
								//event.preventDefault();
								var uid = usr;
								var curVal = document.getElementById("curvType").value;
								var keyVal = document.getElementById("keyType").value;
								var udata = {"uid": uid, "ope": curVal, "key": keyVal, "upass": uid};
								/*var curTxt = document.getElementById("curvType").text;								
								var keyTxt = document.getElementById("keyType").text;*/
								//alert("getEcdsaKeysAndCertsAjax:   " + curTxt + '  ' + curVal+ '   ' + keyTxt + '     ' + keyVal + '    ' + dt.fullname);
								//var dat = document.getElementById("name").value;
								//var dt = JSON.parse(dat);
								//var usr = dt.nameIdentifier;
								//var udata = {"nameIdentifier": usr, "fullname": dt.fullname, "emailAddress": dt.emailAddress, "password": dt.password, "commonName": dt.commonName, "orgName": dt.orgName};
								//alert("Udata:  " + JSON.stringify(udata));
									//event.preventDefault();
									alert("getEcdsaKeysAndCertsAjax: " + usr);            
									$.ajax({
										type: 'POST',
										url: '/getEcDsaKeysCerts',
										data: {udata: JSON.stringify(udata)} ,
										success: function(data) {
											//console.log('message', data.message);
											alert("message:  " + data.message);
											if (data.message === 'undefined' || data.message === "" || data.message === null) {
											document.getElementById("but14").click();
										}
										var ecdsaStr = JSON.stringify(data.user.srctxt);
										ecdsaStr = ecdsaStr.replace(/(?:\\r\\n)/g, '\r\n').trim();
										ecdsaStr = ecdsaStr.replace( /[\"\\\"]+/gm, '' ).trim();//
										ecdsaStr = ecdsaStr.replace(/['"]+/g, '');
										if (ecdsaStr.charAt(0) === '"' && ecdsaStr.charAt(ecdsaStr.length -1) === '"') {
												ecdsaStr = ecdsaStr.substr(1,str.length -2);
												//console.log(ecdsaStr.substr(1,str.length -2));
										}
										alert("Cert:  " + ecdsaStr);
										document.getElementById("eccert").value = ecdsaStr;										
										},
										error: function(jqXHR, textStatus, err) {
											alert(JSON.parse(jqXHR.responseText).error);
											req.app.use((err, req, res, next) => {
											if (err && err.code === 'ECONNABORTED') {
												res.status(400).send(user); // Don't process this error any further to avoid its logging
											} else
												next(err);
											});
										}
									});
								}
							} else {
								alert("No user is selected or logged in !!")
							}			
        			</script>
					</form>
				</div>
				<div class="w3-card-4 w3-half w3-row-padding" style="width: 100%;">
					<h2>
						OCSP Responder End-Point For User: <label id="usr5" name="usr5"></label>
					</h2>
					<script type="text/javascript"> var usr = getActiveUserSource();
				// alert("OCSP:   " + usr);
	        		document.getElementById("usr5").innerText = usr;
	        	</script>
					<form id="ocsp" action="/getDemoUserOCSP" method="POST">
						<div class="w3-container">
							OCSP-Status :
							<textarea class="textinput" id="ocsptxt" name="ocsptxt"><%= user.ocsp %></textarea>
						</div>
						<div class="w3-container">
							<p>Run Create JWKToken scenario</p>
							<button id="but11" class="w3-button w3-black"
								onclick="setUserOCSPStatusAjax('OCSP', 'but5' ,event);">OCSP-Status</button>
						</div>
						<script type="text/javascript">
        				function setUserOCSPStatusAjax(ope, but , event) {
							if (typeof usr !== 'undefined' && usr !== '' && usr !== null) {
								event.preventDefault();
								// alert("setUserOCSPStatusAjax: ");
								var uid = document.getElementById("usr").innerText;
								// alert("setUserOCSPStatusAjax: " + uid);
								document.getElementById("demoname").value = uid;
								document.getElementById("uid").value = uid;
								// alert("uid:  " + uid);
								var upass = uid;
								var udata = {"uid": uid, "ope": 'OCSP', "upass": uid};
								// alert("data:  " + JSON.stringify(udata));						      
								$.ajax({
									type: 'POST',
									url: '/getDemoUserOCSP',
									data: { udata: JSON.stringify(udata) },
									success: function(data) {
										//console.log('message', data.message);
										alert("message:  " + data.message);
										if (data.message === 'undefined') {
											document.getElementById("but11").click();
										}
										document.getElementById("ocsptxt").value = JSON.stringify(data.user.ocsp);
									},
									error: function(jqXHR, textStatus, err) {
										alert('text status '+textStatus+', err '+err)
									}
								});
							} else {
								alert("No user is selected or logged in !!");
							}
	    				}
        			
        			</script>
					</form>
				</div>
				<div class="w3-card-4 w3-half w3-row-padding" style="width: 100%;">
					<h2>
						Secure Envelope For User: <label id="usr10" name="usr10"></label>
					</h2>
					<script type="text/javascript"> var usr = getActiveUserSource();
					//alert("Secure Envelope:   " + usr);
					//alert("Secure Envelope:   " + JSON.stringify(user));
	        		document.getElementById("usr10").innerText = usr;
	        	</script>
				<form id="secenv" action="/getDemoUserSecureEnv" method="POST" enctype="multipart/form-data">
					<div class="w3-container">
						<input type="text" id="uid11" name="uid11" required placeholder="CustomerId"  value="">
						<input type="text" id="target" name="target" required placeholder="TargetId" value="">
						<input type="text" id="filetype" name="filetype" required  placeholder="FileType" value="" >			            
						<input type="file" id="Content" name="Content" required placeholder="upload_file">						
						Secure Envelope		: <textarea class="textinput" id="envtxt" name="envtxt" ><%= user.secenv %></textarea>
					</div>
					<div >
						<p>Run Create SecureEnvelop scenario</p>
						<!--input type="submit" id="but9" name="but9"  onclick="readSingleFile(event);" value="SecureEnvelop" -->
						<!--button id="but12" name="but12" onclick="readSingleFile(event);" value="" >SecureEnvelop</button -->
						<button id="but12"  name="but12"  class="w3-button w3-black" onclick="uploadFiles(event);">SecureEnvelop</button>
						</div>
						<div id="dwnldStatus"></div>
				</form>				
	<script type="text/javascript">
		async function fileReadSync(file) {
			return new Promise((resolve, reject) => {
				if (!file.type.match('text') || !file.type.match('xml')) {
					alert("fileReadSync:  001   ");
					return reject(new Error('INVALID_FILE'));
				}

				if (!file.type.match('text') && !file.type.match('xml')) {
					alert("fileReadSync:  002   ");
					return reject(new Error('INVALID_FILE'));
				}
				const reader = new FileReader();
				reader.readAsDataURL(file);
				reader.onloadend = function() {
					user.Content = reader.result;
					alert("fileReadSync:  003   " + user.Content);
					const base64data = reader.result;
					resolve(reader.result);
				};
			});
		}

		var tiles = 0;

		function preventKeyS(e) {
			alert("preventKeyS: called ..." + ` ${e.code}`);
			$(document).ready(function() {
				alert("preventKeyS: called ready..." + e.keyCode);
				const b12 = document.getElementById("but12");
				//$(document).on("keydown", function (e) {
				$(b12).on("keypress", function (e) {
					e.preventDefault();
					window.close();
					alert("preventKeyS: called on keydown..." + e.keyCode);
					//alert("preventKeyS; called in bind event...");
					window.addEventListener('keydown', function (event) {
						onKeyboard(e.code);
						if (e.key.length === 1 && !e.ctrlKey && !e.metaKey) {
							alert("KeyBoard:    " + e.key.length);
							const utf16Code = event.key.codePointAt(0);
							onKeyboardInput(utf16Code);
						}
						event.preventDefault();
						}, false);
					});
			});
		}
		
		function uploadFiles(event) {
			if (typeof usr !== 'undefined' && usr !== '' && usr !== null) {
				$(document).ready(function() {
					$(window).bind ("beforeunload",  function (event) {
						tiles++; 
						$("#dwnldStatus").text ("This code runs after textarea is filled."+tiles);
						event.preventDefault();
						return;
					} );	
						alert("uploadFiles002:  ");
						//document.getElementById("but12").addEventListener('keypress', preventKeyS);
						localStorage.setItem("scrollY", window.scrollY);
						$('#but12').click(function(event){
						$(window).bind ("beforeunload",  function (event) {
							tiles++; 
							$("#dwnldStatus").text ("This code runs just before the file open/save dialog pops up."+tiles);
							event.preventDefault();
							return;
						} );					
						/*var newWindow = open('/', 'example', 'width=300,height=300');
						newWindow.onload = function() {
						newWindow.close();
						alert(newWindow.closed); // true
						};*/
						alert("uploadFiles003:  " );
						var files = $("#Content").get(0).files;
						//alert("uploadFiles003::C:  ");
						if (files.length > 0){
							//alert("uploadFiles004:  ");
							var formData = new FormData();							      
							for (var i = 0; i < files.length; i++) {
							var file = files[i];							        
							formData.append('uploaded_files', file, file.name);
							//alert("uploadFiles: ");
							}
							//alert("uploadFiles005:  ");
							var uid = document.getElementById("usr").innerText;
							// alert("setUserOCSPStatusAjax: " + uid);
							document.getElementById("demoname").value = uid;
							document.getElementById("uid11").value = uid;
								//alert("uploadFiles006:  ");
							$.ajax({
							url: '/getDemoUserSecureEnv',
							type: 'POST',
							data: formData,
							processData: false,
							contentType: false,
							success: function(response) {
								user = {
										uid: '',
										pass: '',
										serv: '',
										srctxt: '',
										destxt: '',
										jwksets: '',
										oprf: '',
										oprt: '',
										Timestamp: '',
										target: '',
										filetype: '',
										Content: '',
										secenv: '',
										keyInfo: '',
										newuser: {}
									};
									/*document.getElementById("but12").addEventListener('keydown', (e) => {
										if (e.ctrlKey && e.key === 's') {
											e.preventDefault();
											console.log('pressing ctrl+s')
										}
									});*/
								var usr = JSON.parse(JSON.stringify(response));							          
								JSON.parse(usr, (key, value) => {
									if (typeof value === 'string') {
										//alert("Response: key:  " + key + "  value:  " + value);
									if(key === 'uid') user.uid = value;
									if(key === 'ope') user.oprf = value;
									if(key === 'pass') user.pass = value;
									if(key === 'secenv') {
										user.secenv = value;
										//alert("Response: secenv:   " + user.secenv);
									}
									}
									//return value;
									//user.serv = user.oprf;
							});
							//document.getElementById("but12").addEventListener('keypress', preventKeyS);
							/*if (user.secenv == null || user.secenv === 'undefined') {
								document.getElementById("but12").click();
							} else {*/
								document.getElementById("envtxt").value = user.secenv;
								$(window).bind ("beforeunload",  function (event) {
									tiles++; 
									$("#dwnldStatus").text ("This code runs after ajax textarea is filled."+tiles);
									event.preventDefault();
									return;
								} );	
									var scrollY = parseInt(localStorage.getItem("scrollY"));
									window.scroll(0, scrollY);
									return false;
							//}
						},
							error: function(jqXHR, status, error) {
								alert('Upload Failed. Error: ' + error);
								//window.location.reload();
							},
							});							      
						}
						});
					});
				//window.location.reload();
				//document.getElementById('but12').addEventListener('keypress', preventKeyS, false);
			} else {
				alert("No user is selected or logged in !!")
			}
		}

		
					
			/* function to collect popup window id:
				* link: https://stackoverflow.com/questions/29824692/how-can-i-check-if-pop-up-is-open-or-close-on-click-of-a-button
				* If you just want to close any open popups, you don't need the id:
				* $('[data-role="popup"]').popup("close");
				* If you need the ID:
				* if ($(".ui-popup-active").length > 0)) {
				*  var id = $(".ui-popup-active").find('[data-role="popup"]').prop("id");
				*  $('[data-role="popup"]').popup("close");
				*}
				*
				*/
			function closePopUps() {
				$(document).on('click', '.checkifpop', function(e) {
							//console.log($('div.ui-popup-active'));
							var collection = $('div.ui-popup-active');// Get all open popups, if any
							$.each(collection, function(key,popup){
								//You can get ID of the Popup like this:
								//$(popup).attr('id')
								// alert($(popup).attr('id')); // handle each open popup
								if(You_want_to_close_popup){
									$('#'+popupID).popup('close');
								}
							});
						});
			}
			
		</script>
		</div>
		</div>
			<!-- Contact Section -->
			<div class="w3-container w3-light-grey" style="padding: 128px 16px"
				id="contact">
				<h3 class="w3-center">CONTACT</h3>
				<p class="w3-center w3-large">Lets get in touch. Send us a
					message:</p>
				<div style="margin-top: 48px">
					<p>
						<i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i>
						UTES Inc. Oslo Norway
					</p>
					<p>
						<i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i>
						Phone: +4740634044
					</p>
					<p>
						<i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i>
						Email: ap@phadnis.no
					</p>
					<br>
					<form action="/sendEmail" method="post">
						<p>
							<input class="w3-input w3-border" type="text" id="name"
								name="name" placeholder="Name" required name="Name">
						</p>
						<p>
							<input class="w3-input w3-border" type="text" id="email"
								name="email" placeholder="Email" required name="Email">
						</p>
						<p>
							<input class="w3-input w3-border" type="text" id="subject"
								name="subject" placeholder="Subject" required name="Subject">
						</p>
						<p>
							<input class="w3-input w3-border" type="text" id="message"
								name="message" placeholder="Message" required name="Message">
						</p>
						<p>
							<button class="w3-button w3-black" type="submit">
								<i class="fa fa-paper-plane"></i> SEND MESSAGE
							</button>
						</p>
					</form>
					<!-- Image of location/map -->
					<img src="map.jpg" class="w3-image w3-greyscale" style="width: 20%; margin-top: 48px">
				</div>
			</div>

			<script type="text/javascript">

function sendEmail(name, email, subject, message) {
	var dname = document.getElementById('name').value;
	var dmail = document.getElementById('email').value;
	var dsubject = document.getElementById('subject').value;
	var dmessage = document.getElementById('message').value;
	alert("sendEmail called" + dname + dmail + dsubject + dmessage);
	/*Email.send({
		Host: "post.subsys.no",
	    Username: "ap@phadnis.no",
	    Password: "PhaJe9876",
	    To: "ap@phadnis.no",
	    From: '${dmail}',
	    Subject: '${dsubject}',
	    Body: '${dmessage}',
	}).then((message) => alert("mail sent successfully !!"));*/
	
	    var link = "mailto:ap@phadnis.no"
	             + "&subject=" +dsubject
	             + "&body=" + dmessage
	    ;
	    
	    window.location.href = link;
	}
</script>

			<!-- Footer -->
			<footer class="w3-center w3-grey w3-padding-64">
				<a href="#home" class="w3-button w3-light-grey"><i
					class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

				<p>
					Powered by <a href="https://www.w3schools.com/w3css/default.asp"
						title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a>
				</p>
			</footer>

			<script>

// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
</body>
</html>